:root {
    --green: #236D64;
    --light-green: #85888C;
}
body {
   font-family: "IBM Plex Sans Thai Looped", sans-serif;
   display: flex;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding:2rem;
}

.button {
    background: var(--green);
    color: white;
    padding: .33em 1em;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    border: none;
    margin-top: .5rem;
    cursor: pointer;
}

.button:hover {
    background: var(--light-green);
}

li a {
    color: var(--green);
}