:root {
    --green: #236D64;
    --light-green: #85888C;
    --light-green-2: #DFE0E1;
}
body {
   font-family: "IBM Plex Sans Thai Looped", sans-serif;
   display: flex;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding:2rem;
}

.button {
    background: var(--green);
    color: white;
    padding: .33em 1em;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    border: none;
    margin-top: .5rem;
    cursor: pointer;
}

.button:hover {
    background: var(--light-green);
}

.error {
    color: #FF0000;
}

li a {
    color: var(--green);
}

.messages {
    border: 2px dotted var(--light-green);
    padding: .5rem;
}

.message {
    font-weight: bold;
}

.result-table {
    border: 2px solid var(--green);
}

.result-table thead {
    background: var(--green);
    font-weight: bold;
    color: #fff;
}

.result-table th, .result-table td {
    padding: 1rem;
}

.result-table td:last-child {
    text-align: right;
}

.result-table tbody tr:nth-child(2n) {
    background: var(--light-green-2);
}