
.button-groups {
    padding: .5rem 0;
}

.button-groups .button {
    margin-right: .5rem;
    margin-left: 0;
}

.button:hover {
    background: var(--light-green);
}

.error {
    color: #FF0000;
}

li a {
    color: var(--green);
}

.messages {
    border: 2px dotted var(--light-green);
    padding: .5rem;
}

.message {
    font-weight: bold;
    color: #f00;
}

.question-list {
    list-style: none;
    padding: 0;
    border: 1px solid var(--green);
}

.question {
    padding: .5rem;
}

.question:nth-child(2n) {
    background: var(--light-green-2);
}

.result-table {
    border: 2px solid var(--green);
}

.result-table thead {
    background: var(--green);
    font-weight: bold;
    color: #fff;
}

.result-table th, .result-table td {
    padding: 1rem;
}

.result-table td:last-child {
    text-align: right;
}

.result-table tbody tr:nth-child(2n) {
    background: var(--light-green-2);
}

.navigation {
    display: flex;
    padding: 1rem 0;
    flex-flow: row wrap;
}

.navigation a {
    margin-right: 1rem;
}